.comparison-block {
    margin: 15px 0;
    padding: 1em;
}

.comparison-block amp-img{
    margin: auto;
    display: block;
}

.border-r {
    border-right: 1px solid #EBEBEB;
}
.border-bottom {
    border-bottom: 1px solid #EBEBEB;
}
.comparison-padding {
    padding: 0.2em 2em;
}
