.breadcrumbs {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;
}

.breadcrumbs a,
.breadcrumbs a:visited {
    color:#38B6F7;
    border-bottom: 1px dotted #38B6F7;
}

.breadcrumbs span:not(:last-of-type) {
    margin: 0 5px;
}

.question-block .h1 {
    margin-bottom: 10px;
}

.question-block .user-name {
    color: #a3a3a3;
    font-size: 0.87em;
    cursor: pointer;
}

.question-block .experts-reply {
    margin-top: 30px;
    display: inline-flex;
}

.question-block .experts-reply .expert-logo .check {
    position: absolute;
    margin-top: -69px;
    margin-left: 55px;
}

.question-block .experts-reply .reply-info {
    margin-left: 27px;
}

.question-block .experts-reply .reply-info .expert-name {
    font-weight: 600;
    text-decoration-line: underline;
    cursor: pointer;
    color: #292929;
}

.question-block .experts-reply .reply-info .expert-post {
    color: #848484;
    font-size: 0.87em;
}

.question-block .experts-reply .reply-info .reply-text {
    margin-top: 15px;
}

.question-block .experts-reply .reply-info .reply-bottom-block {
    display: inline-flex;
    margin-top: 15px;
}

.question-block .experts-reply .reply-info .reply-bottom-block .down-likes {
    margin-left: 13px;
    cursor:pointer;
}

.question-block .experts-reply .reply-info .reply-bottom-block .reply-comment {
    margin-left: 28px;
    cursor:pointer;
}

.question-block .experts-reply .reply-info .reply-bottom-block time {
    margin-left: 24px;
}

.question-block .experts-reply .reply-info .reply-bottom-block .up-likes span,
.question-block .experts-reply .reply-info .reply-bottom-block .down-likes span{
    margin-left: 5px;
    cursor:pointer;
}

.question-block .second-el {
    margin-top: 70px;
    margin-bottom: 75px;
}

.question-block form {
    margin-top: 69px;
}

.question-block input,
.question-block textarea {
    width: 100%;
    border: 1px solid #D8DADE;
    height: 50px;
    margin-top: 10px;
    padding: 14px;
    font-size: 0.87em;
    font-weight: 600;
    outline: none;
    color: #C0C3C8;
}

.question-block textarea {
    height: 144px;
    resize: none;
}

.question-block .btn {
    margin-top: 20px;
    float: right;
}





