.wrap-popular-banks {
    width: 1165px;
    padding-left: 79px;
    padding-right: 78px;
}

.wrap-popular-banks h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30.77px;
    font-family: 'Futura PT';
    text-align: center;
    margin-top: 79px;
}

.wrap-popular-banks .slider-popular-banks {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    padding-bottom: 32px;
}

.wrap-popular-banks .slider-popular-banks .btn {
    margin-top: 50px;
    width: 45px;
    height: 45px;
}

.wrap-popular-banks .slider-popular-banks .slider-part-banks {
    text-decoration: none;
    width: 266px;
    height: 160px;
    background: #FFFFFF;
    padding: 36px 42px;
}




