#search_input_word {
    color: #C0C3C8;
    width: 100%;
    padding: 0.8em;
    cursor: pointer;
}
#search_input_word:focus {
    outline: none;
}
#search_input_word::placeholder {
    color: #C0C3C8;
}
#search_input_by_word_form {
    position: relative;
}
.term-search {
    position: absolute;
    top: 1em;
    right: 1em;
}
.termsMainBlock {
    margin-top: 3em;
}
.termsMainBlock .lettersBlock .dictionaryLink {
    border: 1px solid #A5CA38;
    color: #292929;
    display: inline-block;
    width: 1.5em;
    text-align: center;
    margin-top: 0.5em;
}
.lettersBlock {
    margin-top: 0.5em;
    text-align: left;
}
.languageSeparatore {
    display: inline-block;
    margin: 0 0.2em;
    top: 0.7em;
    position: relative;
}
.termsBlock .dictionaryList .termTitle {
    color: #292929;
    display: block;
    padding: 0.3em 0;
}
.termsBlock {
    margin: 1em 0;
}
.termsBlock .dictionaryList .displayNone {
    display: none;
}
.termsBlock .termShowMoreBtn {
    width: 100%;
    margin-top: 1em;
    border-color: #F1F1F1;
    color: black;
}