.rat_block_item {
    padding: 1em;
    margin: 10px 0;
}
.rat-block-items .title {
    font-size: 1.2em;
    color: #292929;
    font-weight: bold;
    font-family: 'Futura PT';
    margin: 10px 0 5px 0;
}
.short-details-block {
    padding: 2em;
}
.rat-block-header,.rat-block-pros-minus {
    margin: 1em 0;
}
.rat-block-btn {
    text-align: right;
}
.table-info .mob-td {
    display: block;
    border-right: none!important;
}
.table-info .main {
    border-bottom: 1px solid #e2e2e2;
}