.accordion-container {
    border: 1px solid #EBEBEB;
}

.accordion{
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.accordion svg.minus{
    display: none;
    fill: #848484;
}

.accordion svg.plus{
    display: inline;
}

.accordion.active svg.minus{
    display:inline;
}

.accordion.active svg.plus{
    display: none;
}

.accordion.active .arrow {
    transform: rotate(-90deg);
}

.active, .accordion:hover {
    background-color: #fff;
}

.panel {
    padding: 0 18px;
    color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    border-bottom: 1px solid #EBEBEB;
    transition: max-height 0.3s ease-out;
}

.panel p {
    display: inline-block;
}

.panel li {
    color: #A4C634;
    margin-bottom: 10px;
}

.panel li span {
    color: #292929;
}

h2 {
    font-size: 48px;
    font-weight: 450;
    font-family: Futura PT;
    margin-top: 52px;
}

.second .accordion {

    display: flex;
    justify-content: left;
}

.second .accordion svg {
    margin-right: 12px;
}


.second .accordion span {
    font-size: 18px;
    font-weight: 450;
    font-family: Futura PT;
}

.second .panel p {
    padding-bottom: 10px;
}

.according-content {
    font-family: 'Proxima Nova Rg';
    color: #292929;
}

.according-content h3 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 40px;
}

.according-content p {
    font-size: 16px;
    line-height: 24px;
}

.according-content ul {
    padding: 0;
    margin-left: 10px;
}

.according-content ul li {
    list-style-type: none;
    tab-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}

.according-content ul li svg {
    margin-right: 15px;
}


.accordion input, .tab-content { display: none; }











