.card {
    padding: 2em;
    width:825px;
}

.card hr {
    margin:30px 0;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.card .top-card, .conditions {
    display: flex;
}

.card .top-card .logo,
.card .conditions .first {
    display: flex;
    justify-content: center;
    width:19%;
    margin-right: 1%;
}

.card .top-card .logo {
    border: 1px solid #EBEBEB;
    width: 170px;
    height: 200px;
    padding: 71px 25px 71px 25px;
}

.card .conditions .first {
    margin-top: 41px;
    margin-left: 26px;
}

.card .conditions .first svg {
    margin-left: .7em;
}

.card .top-card .content,
.card .conditions .second {
    width:79%;
    margin-right: 2%;
}

.card .top-card .content p{
    margin-left: 30px;
    line-height: 1.75em;
    margin-top: 25px;
}

.card .conditions .second {
    margin-left:  40px;
    margin-top: 30px;
}

.card .conditions .second .items {
    display: flex;
    flex-wrap: wrap;
}

.card .conditions .second .items .item {
    width:40px;
    height: 40px;
    border: 1px solid #EBEBEB;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .7em;
}

.card .text-conditions {
    display: flex;
    justify-content: space-between;
}

.card .text-conditions .content {
    font-weight: bold;
}

.card .text-conditions .head {
    font-size: 0.87em;
    color: #87919F;
}

.card .features {
    display: flex;
    margin-top:40px;
    background: #fafafa;
    padding: 1em;
}

.card .features .third {
    margin-left: 2%;
}

.card .features div:last-child {
     margin-right: 0;
 }

.card .features div svg {
    margin-bottom:-4px;
    margin-right:10px;
}

.card .features .left-block {
    width:35%;
}

.card .features .left-block .content {
    display: flex;
    margin-top: 1em;
}

.card .features .left-block .content:first-child {
    margin-top: 0;
}

.card .features .left-block .check {
    width: 15%;
}

.card .features .left-block .text {
    width: 85%;
}

.card .features .right-block {
    width:65%;
}

.card .features .right-block .content {
    display: flex;
    margin-top: .7em;
}

.card .features .right-block .content:first-child {
    margin-top: 0;
}

.card .features .right-block .content .first {
    width: 50%;
}

.card .features .right-block .content  .second {
    width: 40%;
    height: 10px;
    background:#EAEAEA;
    border-radius: 28px;
    margin-top: 6px;
}

.card .features .right-block .content  .second .percent{
    height: 10px;
    background: #A5CA38;
    border-radius: 28px;
}

.card .features .right-block .content .third {
    width: 10%;
    font-weight: bold;
}



