.how_get_rating_inner{
  align-items: center;

}

.how_get_rating_inner .inner_part{
    text-align: center;
    font-size: 0.87em;

}

.how_get_rating_inner .inner_part .cent_arr{
    transform: rotate(90deg);

}

.how_get_rating_inner .inner_part .cont{
    margin-top: 10px;
}

.how_get_rating_wrap h2{
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    font-family: 'Proxima Nova Rg', sans-serif;
}

.how_get_rating_inner .num{
    background:#00b7f4;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height:18px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    padding: 4px 8px;
}