.accordion{
    margin-left: 0.2em;
    background-color: #fff;
    cursor: pointer;
    width: 98%;
    border: none;
    outline: none;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.accordion.active .arrow {
    transform: rotate(-90deg);
}

.active, .accordion:hover {
    background-color: #fff;
}

.accordion-panel {
    padding: 0 30px;
    color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    border-bottom: 1px solid #EBEBEB;
    transition: max-height 0.3s ease-out;
}
.accordion-panel li {
    margin-bottom: 10px;
}

.accordion .h5{
    margin: 0;
}










