.short-code-quote{
    margin: 15px 0;
}
.short-code-quote svg{
    margin: 0 15px 15px 0;
    float: left;
}
.quote-author{
    margin-top: 30px;
    display: block;
    color: #848484;
    font-size: 0.9em;
}