.expert-photo {
    width: 118px;
    height: 118px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    border-radius: 18px;
    margin: 0 auto;
    margin-bottom: 1em;
}
.expert-item-block {
    background: #F8F8F8;
}