table {
    width: 100%;
    table-layout:fixed;
}
table td, table th {
    padding: 2em;
}
table .main {
    background: #fafafa;
    font-weight: bold;
}

table.table-vertical {
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    border-collapse: collapse;
}
table.table-vertical tr {
    border-bottom: 1px solid #e2e2e2;
}
table.table-vertical td.withBorder {
    border-right: 1px solid #e2e2e2;
}
table.table-vertical th {
    border-bottom: 1px solid red;
}


table.table-horizontal {
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e2e2e2;
    border-collapse: collapse;
}
table.table-horizontal tr {
    border-bottom: 1px solid #e2e2e2;
}
table.table-horizontal td:first-child, table.table-horizontal th:first-child {
    border-right: 1px solid #e2e2e2;
}

table.table-limit {
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    border-collapse: collapse;
}
table.table-limit td {
    text-align: center;
    border-bottom: 1px solid  #e2e2e2;
}
table.table-limit td:first-child {
    text-align: left;
}

table.table-limit tr td:first-of-type{
    color: #017AD3;
}

table.table-limit td th svg{
    margin-left: 10px;
}

table.table-limit tr th svg:active{
    transform: rotate(180deg);
}

table.table-info {
    border-radius: 5px;
    text-align: left;
    border: 1px solid #e2e2e2;
    border-collapse: collapse;
}
table.table-info tr {
    border-bottom: 1px solid #e2e2e2;
}
table.table-info td.main {
    border-right: 1px solid #e2e2e2;
}

/*div table*/

.table {
    width: 100%;
    border: 1px solid #ebebeb;
    margin-bottom: 50px;
}

.table .tr {
    display: flex;
    justify-content: space-between;
}

.table .tr .td {
    padding: 1.5em;
    font-size: 1em;
}

.table .tr .td svg {
    margin-left: 10px;
}

.table .tr .td:first-of-type {
    width: 30%;
    background: #FAFAFA;
    font-weight: 600;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.table .tr .td:last-of-type {
    width: 70%;
    border-bottom: 1px solid #ebebeb;
}

/*table 2*/

.table-limit-block {
    width: 100%;
    border: 1px solid #ebebeb;
    margin-bottom: 50px;
}

.table-limit-block .tr {
    display: flex;
    justify-content: space-between;
}

.table-limit-block .tr .th{
    background: #fafafa;
    border-bottom: none;
    font-size: 1em;
    font-weight: 700;
}

.table-limit-block .tr .th svg{
    margin-left: 5px;
    cursor: pointer;
    width: 8px;
    height: 6px;
}

.table-limit-block .tr .th svg:active{
    transform: rotate(180deg);
}

.table-limit-block .tr .td {
    padding: 32px;
    font-size: 1em;
    width: 25%;
    border-bottom: 1px solid #ebebeb;
}

.table-limit-block .tr .td:first-of-type {
   color: #017AD3;
}

/*table 3*/

.table-vertical-block {
    width: 100%;
    border: 1px solid #ebebeb;
    margin-bottom: 50px;
}

.table-vertical-block .tr {
    display: flex;
    justify-content: space-between;
}

.table-vertical-block .tr .td:nth-child(2){
    border-right: 1px solid #ebebeb;
}

.table-vertical-block .tr .th {
    background: #fafafa;
    border-bottom: none;
    font-size: 1em;
    font-weight: 700;
}

.table-vertical-block .tr .td {
    padding: 32px;
    font-size: 1em;
    width: 25%;
}

.table-vertical-block .tr .td {
    border-bottom: 1px solid #ebebeb;
}

/*table 4*/

.light-border{
    border: 1px solid #ebebeb;
}

.light-border .tr {
    display: flex;
    justify-content: space-between;
}

.light-border .tr .td:nth-child(2){
    border-left: 1px solid #ebebeb;
}

.light-border .tr .td {
    padding: 1.5em;
    font-size:1em;
    width: 50%;
    text-align: center;
    border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: none;
}

.light-border .tr .th{
    background: #fafafa;
    font-size: 1em;
    font-weight: 700;
}
