table {
    font-family: 'Proxima Nova Rg';
    border-radius: 5px;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    width: 100%;
}
table td {
    padding: 2em;
    border-bottom: 1px solid #e2e2e2;
    /*border-right: 1px solid #e2e2e2;*/
}
table td.main {
    background: #fafafa;
    font-weight: bold;
    border-left: 1px solid #e2e2e2;
}