.sidebar{
    padding:38px 30px 63px 30px;
}

.sidebar hr{
    margin-top: 25px;
}

.sidebar .first-block .name,
.sidebar .second-block .name,
.sidebar .third-block .name,
.sidebar .fourth-block .name{
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Futura PT';
}

.sidebar .first-block a,
.sidebar .second-block a,
.sidebar .third-block a,
.sidebar .fourth-block a{
    display: block;
    text-decoration: none;
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.5em;
}

.sidebar .fourth-block .more-btn{
    cursor: pointer;
    margin-top: 25px;
}

.sidebar .fourth-block .more-links{
    overflow: hidden;
    max-height: 0;
}