.sidebar-inner{
    padding:38px 30px 63px 30px;
}

.sidebar-inner hr{
    margin-top: 25px;
}

.sidebar-inner .sidebar-inner-part .h4 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Futura PT';
}

.sidebar-inner .sidebar-inner-part a{
    display: block;
    margin-top: 10px;
}

.sidebar-inner .sidebar-inner-part a:hover,
.sidebar-inner .sidebar-inner-part a:focus{
    font-weight: 700;
}

.sidebar-inner .sidebar-inner-part .more-btn{
    cursor: pointer;
    margin-top: 25px;
}

.sidebar-inner .sidebar-inner-part .more-btn.active{
    display: none;
}

.sidebar-inner .sidebar-inner-part .more-links{
    overflow: hidden;
    max-height: 0;
}