.lead-head-container {
    display: flex;
    flex-wrap: wrap;
    color:#212529;
}
.lpt .lwb {
    width: 400px !important;
}

.lwb .lead-label-dark {
    height: 22px;
    background-color: #3c97d3;
    font-size: 0.75em;
    color: #fff;
    padding: 0 7px 3px 7px;
    margin-left: 3px;
    margin-top: 10px;
}

.lwb .lead-label-dark .btn-txt{
    margin-top: -27px;
    margin-left: 23px;
}

.lwb .lead-label-dark svg {
    margin-top: 3px;
}

.lwb .lead-label-green {
    font-size: 0.75em;
    font-weight: 600;
    text-align: center;
    background-color: #A5CA38;
    height: 20px;
    color: #fff;
}

.lpt {
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.5em;
    color: #212529;
    display: flex;
    justify-content: space-between;
}

.lpt .listing_lead_wrap {
    margin-left: 20px;
}

.lpt .listing_lead_wrap p {
    line-height: 1.5em;
    margin: 0;
}

.lpt .listing_lead_wrap ul {
    padding: 0;
    margin-left: 16px;
}

.zero-pos-more {
    cursor: pointer;
    display: block;
    text-align: center;
    color: #017AD3;
    font-size: 1em;
    margin:10px 0 20px 0;
    padding: 5px 10px;
}

.zero-pos {
    width:100%;
    background-color: #f3f3f3;
    overflow: hidden;
    max-height: 0;
}

.zero-pos h2 {
    padding: 38px 0 0 47px;
    margin: 0;
}

.zero-pos .accordeon-list {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 60px;
    padding: 0;
}

.zero-pos .accordeon-list li:last-of-type {
    margin-bottom: 30px;
}

.zero-pos .accordeon-list li a {
    color:#212529;
}

.zero-pos .accordeon-list li a:hover,
.zero-pos .accordeon-list li a:focus {
    color: #1098c7;
}

