.breadcrumbs {
    margin-top: 25px;
    margin-bottom: 25px;
}

.breadcrumbs a {
    text-decoration: none;
    color:#38B6F7;
    border-bottom: 1px dotted #38B6F7;
}


.breadcrumbs span:not(:last-of-type) {
    margin: 0 5px;
}

.breadcrumbs span.kb_title {
    color: #292929;
}


