*, ::after, ::before {
    box-sizing: border-box;
    font-size: 1em;
}



article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.MJXc-TeX-main-R{font-family: 'Futura PT' !important;}
body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292929;
    text-align: left;
    background-color: #fff;
    font-family: 'Futura PT'
}

button{
    font-family: 'Futura PT'
}

p,li{color: #292929;}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.light-border{
    border: 1px solid #EBEBEB;
    border-radius: 5px;
}

.d-padding {
  padding: 20px 30px;
}

.text-bold{
    font-weight: bold;
}

.shadow{
    box-shadow: 0 6px 20px rgba(65, 81, 92, 0.1);
    border-radius: 5px;
}

hr{
    border: 1px solid #EBEBEB;
}

.row{
    display: flex;
    padding-right: -15px;
    padding-left: -15px;
}

.row > .content{
    flex: 3;
    padding: 0 15px;
}
.row > .sidebar{
    flex: 1;
    padding: 0 15px;
}




/* content universal code */
.content ul{padding-left: 0}

.content ul li{
    position: relative;
    list-style-type: none;
    padding-left: 20px;
}


.content ul li:before{
    content: "";
    background: #A5CA38;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
}

/*titles*/

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family: 'Futura PT'; font-weight: 500;line-height: 1;}
h1,.h1{font-size: 2.1em;margin: 25px 0;}
h2,.h2{font-size: 1.9em;margin: 25px 0;}
h3,.h3{font-size: 1.7em;margin: 18px 0;}
h4,.h4{font-size: 1.5em;margin: 10px 0;}
h5,.h5{font-size: 1.3em;margin: 10px 0;}
h5,.h5{font-size: 1.1em;margin: 10px 0;}


/*lead-wrap list*/

.lead-wrap ul li::marker{
    color:#A5CA38;
}

/*border radius*/

.border-radius{
    border-radius: 5px;
}

/*liks*/

a, a:visited {
    color: #017AD3;
}


