*, ::after, ::before {
    box-sizing: border-box;
    font-size: 1em;
}



article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.MJXc-TeX-main-R{font-family: 'Proxima Nova Rg' !important;}
body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292929;
    text-align: left;
    background-color: #fff;
    font-family: 'Proxima Nova Rg'
}

button{
    font-family: 'Proxima Nova Rg'
}

p,li{color: #292929;}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.light-border{
    border: 1px solid #EBEBEB;
    border-radius: 5px;
}

.d-padding {
  padding: 20px 30px;
}

.text-bold{
    font-weight: bold;
}

.shadow{
    box-shadow: 0 6px 20px rgba(65, 81, 92, 0.1);
    border-radius: 5px;
}

hr{
    border: 1px solid #EBEBEB;
}

.row{
    display: flex;
    padding-right: -15px;
    padding-left: -15px;
}

.row > .content{
    flex: 3;
    padding: 0 15px;
}
.row > .sidebar{
    flex: 1;
    padding: 0 15px;
}




/* content universal code */
.content ul{padding-left: 0}

.content ul li{
    position: relative;
    list-style-type: none;
    padding-left: 20px;
}


.content ul li:before{
    content: "";
    background: #A5CA38;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
}


