.main-posts .main-post-block a.main-post-link {
    background: #FFFFFF;
    margin-top: 15px;
    display: flex;
}

.main-posts .main-post-block a.main-post-link .img{
    width: 40%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content:center;

}

.main-post-title-wrap{
    width: 60%;
}

.main-posts .main-post-block a.main-post-link time {
    font-size: 0.87em;
    color: #87919F;
    padding: 15px 22px 15px 20px;
    margin: 0;
    display: block;
}

.main-posts .main-post-block a.main-post-link .main-post-title {
    line-height: 1.37em;
    font-weight: bold;
    color: #292929;
    padding: 0 10px 31px 20px;
    display: block;
}

.main-posts .main-post-block a.btn {
    margin-top: 15%;
    width: 45px;
    height: 45px;
}

