/*.main-posts {*/
/*    padding-left: 79px;*/
/*    padding-right: 78px;*/
/*}*/


/*.main-posts .main-post-item {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

.main-posts .main-post-item a.main-post-link {
    background: #FFFFFF;
    margin-top: 15px;
    display: flex;
}

.main-posts .main-post-item a.main-post-link img{
    border: 1px solid #ebebeb;
    border-radius: 5px 0 0 5px;
    width: 33.3%;
}

.main-post-title-wrap{
    width: 66.5%;
}

.main-posts .main-post-item a.main-post-link time {
    font-size: 0.87em;
    color: #87919F;
    padding: 15px 22px 15px 20px;
    margin: 0;
    display: block;
}

.main-posts .main-post-item a.main-post-link .main-post-title {
    line-height: 1.37em;
    font-weight: bold;
    color: #292929;
    padding: 0 10px 31px 20px;
    display: block;
}

.main-posts .main-post-item a.btn {
    margin-top: 15%;
    width: 45px;
    height: 45px;
}

