.dashboard-menu .tab {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 15px 0 0 0;
    width:100%;
}

.dashboard-menu  .tab .tablinks, .dashboard-menu  .tab .tablink {
    background-color: inherit;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 2px solid #EBEBEB ;
    color: #87919F;
    font-family: 'Futura PT';
}

.dashboard-menu .tab .tablinks.on,.dashboard-menu .tab .tablink.active {
    color: #017AD3;
    border-bottom: 2px solid #017AD3;
}
.dashboard-menu .tabs-items .tabcontent.on{display:block}
.dashboard-menu .tabs-items .tabcontent {
    display: none;
    padding: 6px 12px;
}