

.hidden-card-loan .btn{
    width: 90%;
}
.btn .btn-support, .btn .btn-auth {
    margin-top: 1em;
}
.btn .btn-auth {
    margin-bottom: 1em;
}
.scale-card-loan .approval-percent {
    height: 10px;
    background: #A5CA38;
    border-radius: 28px;
    margin: 0;
}
.scale-card-loan {
    margin-top: 1em;
}
.scale-text {
    font-size: 0.87em;
    color: #87919f;
    margin-top: 5px;
}
.scale-card-loan {
    width: 100%;
    height: 10px;
    background: #EAEAEA;
    margin-top: 10px;
}
.block-card-loan {
    border: 4px solid #FCE6A4;
}

.block-card-loan .top {
    padding: 20px 30px;
}
.block-card-loan .top .header {
    display: flex;
    justify-content: space-between;
}

.block-card-loan .top .header a {
    text-decoration: none;
    color: #017AD3;
    font-family: 'Futura PT';
    font-weight: 600;
}

.block-card-loan .top .logo {
    height: 134px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-card-loan .top .reviews {
    display:flex;
    justify-content: space-between;
    margin-top:20px;
}

.block-card-loan .top .reviews div {
    font-size: 0.8em;
}

.block-card-loan .top  .reviews a {
    text-decoration: none;
    color: #017AD3;
    font-weight: 600;
}

.block-card-loan .top .reviews span {
    color: #87919F;
}

.block-card-loan .top .block {
    margin-top: 37px;
}

.block-card-loan .top .block .block-row {
    margin-top: 33px;
    text-align: center;
}

.block-card-loan .top .block p {
    color: #87919F;
    font-size: 0.8em;
}

.block-card-loan .top .block .block-row .loan-head-intro {
    height: 1em;
    font-weight: 700;
}
.block-card-loan .content {
    padding: 0 40px;
    margin-top: -20px;
}

.block-card-loan .content .head {
    font-family: 'Futura PT';
    font-weight: 400;
}

.block-card-loan .content .head .more-loan{
    text-align: center;
    color: #017AD3;
    font-family: 'Futura PT';
    font-weight: 400;
    cursor: pointer;
}

.block-card-loan .content .head .hidden-card-loan {
    padding: 1em 0;
    display: none;
}
.open-hidden-info {
    display: none;
}
.content .open-hidden-info:checked + .hidden-card-loan {
    display: block;
}

.block-card-loan .content .head .hidden-card-loan .text {
    color: #292929;
    line-height: 1.6em;
}

.block-card-loan .content .hidden-card-loan .info {
    color: #292929;
    font-weight: 600;
    font-size: 0.8em;
}