.container {
    padding: 0;
    margin: 0;
    width: 100%;
}

.card-loans {
    border: 4px solid #FCE6A4;
    width: 100%;
}

.card-loans .top {
    padding: 20px 30px;
}

.card-loans hr {
    height: 1px;
    border: none;
    background-color:#EBEBEB;
}

.card-loans .top .header {
    display: flex;
    justify-content: space-between;
}

.card-loans .top .header a {
    text-decoration: none;
    color: #017AD3;
    font-family: 'Futura PT';
    font-size: 16px;
    font-weight: 600;
}

.card-loans .top .logo {
    border: 1px solid #EBEBEB;
    width:100%;
    height: 134px;
    margin-top: 15px;
}

.card-loans .top .logo div img {
    margin: 38px 87px;
}

@media (min-width:319px){
    .card-loans .top .logo div img {
        margin: 38px 67px;
    }
}

@media (min-width:375px){
    .card-loans .top .logo div img {
        margin: 38px 87px;
    }
}

.card-loans .top .scale {
    width: 100%;
    height: 10px;
    background:#EAEAEA;
    border-radius: 28px;
    margin-top: 10px;
}
.card-loans .top .scale .percent {
    height: 10px;
    background: #A5CA38;
    border-radius: 28px;
    margin: 0;
}

.card-loans .top .scale p {
    font-size: 0.87em;
    color:#87919f;
    text-align: center;
    margin-top: 5px;
}

.card-loans .top .reviews {
    display:flex;
    justify-content: space-between;
    margin-top:30px;
}

.card-loans .top .reviews div {
    font-size: 14px;
}

.card-loans .top  .reviews a {
    text-decoration: none;
    color: #017AD3;
    font-weight: 600;
}

.card-loans .top .reviews span {
    color: #87919F;
}

.card-loans .top .block {
    margin-top: 37px;
}

.card-loans .top .block .block-row {
    margin-top: 33px;
    text-align: center;
}

.card-loans .top .block .comprasion {
    text-align: center;
    margin-top: 35px;
}

.card-loans .top .comprasion .btn {
    margin-left: 38px;
}

.card-loans .top .comprasion p {
    margin-top: 22px;
    color: #87919F;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.card-loans .top .block p {
    color: #87919F;
    font-size: 14px;
}

.card-loans .top .block .block-row .loan-head-intro {
    height: 1em;
    font-weight: 700;
}

.card-loans hr {
    margin-top:53px;
}

.card-loans .content {
    padding: 0 40px;
    margin-top: -20px;
}

.card-loans .content .head {
    font-size: 16px;
    font-weight: 400;
}

.card-loans .content .head .more-loan{
    text-align: center;
    color: #017AD3;
    font-size: 16px;
    font-family: 'Futura PT';
    font-weight: 400;
    cursor: pointer;
}

.card-loans .content .head .hidden-card-loan {
    overflow: hidden;
    max-height: 0;
}

.card-loans .content .head .hidden-card-loan .text {
    color: #292929;
    font-size: 16px;
    line-height: 28px;
}

.card-loans .content .hidden-card-loan .info {
    color: #292929;
    font-weight: 600;
    font-size: 14px;
}

.hidden-card-loan .tab-wrap {
    padding: 40px 0;
}

.hidden-card-loan .tab .tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 2px solid #EBEBEB ;
    width: 100%;
    color:#292929;
    font-family: 'Futura PT';
}

.hidden-card-loan .tab .tablinks.on {
    color: #017AD3;
    border-bottom: 2px solid #017AD3;
}

.hidden-card-loan .tabs-items .tabcontent{display:none}

.hidden-card-loan .tabs-items .tabcontent.on{display:block}

.hidden-card-loan .tabs-items .tabcontent {
    display: none;
    padding: 6px 12px;
    margin-top: 200px;
    color: #292929;
}

.hidden-card-loan .tablinks svg.arrow {
    float: right;
    color: #87919F;
}

.hidden-card-loan .tablinks.on svg.arrow {
    transform: rotate(180deg);
    stroke: #017AD3 !important;
    stroke-width: 1px;
}

.card-loans .hidden-card-loan .slider .slider-block {
    display: flex;
    justify-content: space-between;
}

.card-loans .hidden-card-loan .slider .slider-block .slider-button {
    width: 50px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 50%;
    border: 1px solid #EBEBEB ;
    margin-top: 10px;
    cursor: pointer;
}

.card-loans .hidden-card-loan  .slider .slider-block  div.slider-button:last-of-type {
   background-color: #81DAC8;
}

.card-loans .hidden-card-loan  .slider .slider-block .slider-info div {
    border: 1px solid #EBEBEB ;
    width:48px;
    height: 48px;
    padding: 12px;
    margin: auto;
}

.card-loans .hidden-card-loan .slider .slider-block .slider-info div svg {
    width: 23px;
}

.card-loans .hidden-card-loan  .slider .slider-block .slider-info p {
    color: #292929;
    font-size: 14px;
}

.card-loans .hidden-card-loan .btn {
    display: block;
    margin-top: 28px;
    margin-left: 70px;
}

.card-loans .hidden-card-loan .btn:last-of-type {
    margin-bottom: 55px ;
}

.card-loans .hidden-card-loan .btn .btn-auth {
    margin-top: 20px;
}


.card-insurance {
    border: 4px solid #FCE6A4;
    margin-top: 50px;
}

.card-insurance .top {
    padding: 20px 30px;
}

.card-insurance hr {
    height: 1px;
    border: none;
    background-color:#EBEBEB;
}

.card-insurance .top .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-insurance .top .header a {
    text-decoration: none;
    color: #017AD3;
    font-family: 'Futura PT';
    font-size: 16px;
    font-weight: 600;
}

.card-insurance .top  .logo {
    border: 1px solid #EBEBEB;
    width:100%;
    height: 134px;
    padding: 42px  33px 42px 33px;
    margin-top: 15px;
}

.card-insurance .top .logo {
   align-items: center;
}

@media (min-width:374px){
    .card-insurance .top .logo {
        padding: 25px 20px !important;
    }

    .card-insurance .top .logo div img {
        margin-left: 20px;
    }
}

@media (min-width:360px){
    .card-insurance .top .logo {
        padding: 25px  10px 25px 10px !important;
    }
}

@media (min-width:319px){

    .card-insurance .top .logo {
        padding: 25px  0 25px 0 !important;
    }

    .card-insurance .top .logo div {
        padding: 0;
    }
}

.card-insurance .top .scale {
    width: 100%;
    height: 10px;
    background:#EAEAEA;
    border-radius: 28px;
    margin-top: 10px;
}
.card-insurance .top .scale .percent {
    height: 10px;
    background: #A5CA38;
    border-radius: 28px;
    margin: 0;
}

.card-insurance .top .scale p {
    font-size: 0.87em;
    color:#87919f;
    text-align: center;
    margin-top: 5px;
}
.card-insurance .top .reviews {
    display:flex;
    justify-content: space-between;
    margin-top:30px;
}

.card-insurance .top .reviews div {
    font-size: 14px;
}

.card-insurance .top .reviews div {
    font-size: 14px;
}

.card-insurance .top  .reviews a {
    text-decoration: none;
    color: #017AD3;
    font-weight: 600;
}

.card-insurance .top .block {
    margin-top: 37px;
}

.card-insurance .top .block .block-row {
    margin-top: 33px;
    text-align: center;
}

.card-insurance .top .block .comprasion {
    text-align: center;
    margin-top: 35px;
}

.card-insurance .top .comprasion .btn {
    margin-left: 38px;
}

.card-insurance .top .comprasion p {
    margin-top: 22px;
    color: #87919F;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.card-insurance .top .block p {
    color: #87919F;
    font-size: 14px;
}

.card-insurance .top .block .block-row .insurance-head-intro {
    height: 1em;
    font-weight: 700;
}

.card-insurance hr {
    margin-top:53px;
}


.card-insurance .content {
    padding: 0 40px;
    margin-top: -20px;
}

.card-insurance .content .head {
    font-size: 16px;
    font-weight: 400;
}

.card-insurance .content .head .more-loan{
    text-align: center;
    color: #017AD3;
    font-size: 16px;
    font-family: 'Futura PT';
    font-weight: 400;
    cursor: pointer;
}

.card-insurance .content .head .hidden-card-insurance {
    overflow: hidden;
    max-height: 0;
}

.card-insurance .content .head .hidden-card-insurance .text {
    color: #292929;
    font-size: 16px;
    line-height: 28px;
}

.card-insurance .content .hidden-card-insurance .info {
    color: #292929;
    font-weight: 600;
    font-size: 14px;
}

.hidden-card-insurance .tab-wrap {
    padding: 40px 0;
}

.hidden-card-insurance .tab .tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 2px solid #EBEBEB ;
    width: 100%;
    color:#292929;
    font-family: 'Futura PT';
}

.hidden-card-insurance .tab .tablinks.on {
    color: #017AD3;
    border-bottom: 2px solid #017AD3;
}

.hidden-card-insurance .tabs-items .tabcontent {display:none}

.hidden-card-insurance .tabs-items .tabcontent.on {display:block}

.hidden-card-insurance .tabs-items .tabcontent {
    display: none;
    padding: 6px 12px;
    margin-top: 200px;
    color: #292929;
}

.hidden-card-insurance .tablinks svg.arrow {
    float: right;
    color: #87919F;
}

.hidden-card-insurance .tablinks.on svg.arrow {
    transform: rotate(180deg);
    stroke: #017AD3 !important;
    stroke-width: 1px;
}
.card-insurance .hidden-card-insurance .slider .slider-block {
    display: flex;
    justify-content: space-between;
}

.card-insurance .hidden-card-insurance .slider .slider-block .slider-button {
    width: 50px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 50%;
    border: 1px solid #EBEBEB ;
    margin-top: 10px;
    cursor: pointer;
}

.card-insurance .hidden-card-insurance  .slider .slider-block  div.slider-button:last-of-type {
    background-color: #81DAC8;
}

.card-insurance .hidden-card-insurance .btn {
    display: block;
    margin-top: 28px;
    margin-left: 70px;
}

.card-insurance .hidden-card-insurance .btn:last-of-type {
    margin-bottom: 55px ;
}

.card-insurance .hidden-card-insurance .btn .btn-auth {
    margin-top: 20px;
}

















