.block-card {
    border: 4px solid #FCE6A4;
    width: 100%;
    margin-top: 20px;
}

.block-card .top-card {
    padding: 20px 30px;
}

.block-card hr {
    height: 1px;
    border: none;
    background-color:#EBEBEB;
    margin-top:53px;
}

.top-card .header-card {
    display: flex;
    justify-content: space-between;
}

.top-card .header-card a {
    font-family: 'Futura PT';
    font-weight: 600;
}

.top-card .logo {
    border: 1px solid #EBEBEB;
    width:100%;
    height: 134px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-card .logo img {
    margin: 0 auto;
}

.top-card .scale-card {
    width: 100%;
    height: 10px;
    background:#EAEAEA;
    border-radius: 28px;
    margin-top: 10px;
}

.top-card .scale-card .percent {
    height: 10px;
    background: #A5CA38;
    border-radius: 28px;
    margin: 0;
}

.top-card .scale-card .scale-text{
    font-size: 0.87em;
    color:#87919f;
    text-align: center;
    margin-top: 5px;
}

.top-card .reviews {
    display:flex;
    justify-content: space-between;
    margin-top:30px;
}

.top-card .reviews {
    font-size: 0.87em;
}

.top-card .reviews a {
    font-weight: 600;
}

.top-card .reviews span {
    color: #87919F;
}

.top-card .card-top-inner {
    margin-top: 37px;
}

.top-card .card-top-inner .block-row {
    margin-top: 33px;
    text-align: center;
}

.top-card .card-top-inner .block-row .card-cont{
    margin-top: 5px;
    font-size: 0.87em;
    color:#87919f;
}

.top-card .comprasion {
    text-align: center;
    margin-top: 35px;
}

.top-card .comprasion .btn {
    margin-top: 35px;
}

.top-card .comprasion .comp {
    margin-top: 22px;
    color: #87919F;
    font-size: 0.87em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.top-card .card-top-inner .block-row .card-head-intro {
    height: 1em;
    font-weight: 700;
}

.content-card {
    padding: 0 40px;
    margin-top: -20px;
}

.content-card .head-card .card-more{
    color: #017AD3;
    font-family: 'Futura PT';
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 10px 0 15px;
}

.content-card .head-card .hidden-card {
    overflow: hidden;
    max-height: 0;
}

.content-card .head-card .hidden-card .text-card{
    line-height: 1.75em;
}

.content-card .hidden-card .info-card{
    font-weight: 600;
    font-size: 0.87em;
}

.hidden-card .tab-wrap {
    padding: 40px 0;
}

.hidden-card .tab .tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 2px solid #EBEBEB ;
    width: 100%;
    font-family: 'Futura PT';
}

.hidden-card .tab .tablinks.on {
    color: #017AD3;
    border-bottom: 2px solid #017AD3;
}

.hidden-card .tabs-items .tabcontent.on{display:block}

.hidden-card .tabs-items .tabcontent {
    display: none;
    padding: 6px 12px;
    margin-top: 200px;
}

.hidden-card .tabs-items .tabcontent ul {
    list-style-type: none;
}

.hidden-card .tablinks svg.arrow {
    float: right;
    color: #87919F;
}

.hidden-card .tablinks.on svg.arrow {
    transform: rotate(180deg);
    stroke: #017AD3 !important;
    stroke-width: 1px;
}

.hidden-card .slider .slider-block {
    display: flex;
    justify-content: space-between;
}

.hidden-card .slider .slider-block .slider-button {
    width: 50px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 50%;
    border: 1px solid #EBEBEB ;
    margin-top: 10px;
    cursor: pointer;
}

.hidden-card .slider .slider-block  div.slider-button:last-of-type {
   background-color: #81DAC8;
}

.hidden-card .slider .slider-block .slider-info .border-radius {
    border: 1px solid #EBEBEB ;
    width:48px;
    height: 48px;
    padding: 12px;
    margin: auto;
}

.hidden-card .slider .slider-block .slider-info div svg {
    width: 23px;
}

.hidden-card .slider .slider-block .slider-info .slide-cont {
    font-size: 0.87em;
    margin-top: 5px;
}

.hidden-card .btn {
    display: block;
    margin-top: 28px;
}

.hidden-card .btn:last-of-type {
    margin-bottom: 55px ;
}

.hidden-card.btn .btn-auth {
    margin-top: 20px;
}

















