.card-loans {
    border: 4px solid #FCE6A4;
    font-family: 'Proxima Nova Rg';
    width: 100%;
}

.card-loans .stock {
    background: #FF7A5C;
    padding:8px 16px;
    color: #fff;
    position: absolute;
    font-size: 13px;
    margin-left:40px;
    margin-top: -20px ;
}
.card-loans .top {
    padding: 20px 40px;
}

.card-loans hr {
    height: 1px;
    border: none;
    background-color:#EBEBEB;

}
.card-loans .top .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-loans .top .header a {
    text-decoration: none;
    color: #017AD3;
    font-family: 'Futura PT';
}

.card-loans .top .header svg {
    position: absolute;
    margin-left: 10px;
}

.card-loans .top .block,
.card-loans .top .two-columns {
    display: flex;
    justify-content: space-between;
}

.card-loans .top .block .logo {
    border: 1px solid #EBEBEB;
    width: 164.44px;
    height: 95px;
    padding: 26px 24px 27px 24px;
}

.card-loans .top .block .logo div img {
    margin-right: 20px;
}

.card-loans .top .block .logo div {
    width: 116.08px;
    height: 40.84px;
}

.card-loans .top .block p {
    color: #87919F;
}

.card-loans .top .block .block-row .loan-head-intro{
    height: 1em;
    font-weight: 700;
}

.card-loans .top .block .block-row p {
    color: #87919F;
    font-size: 0.87em;
    line-height: 1.3em;

}

.card-loans .top .two-columns {
    padding: 15px;
}

.card-loans .top .two-columns .reviews a {
    text-decoration: none;
    color: #017AD3;
}

.card-loans .top .two-columns .reviews span {
    color: #87919F;
}

.card-loans .top .two-columns .comprasion span {
    color: #87919F;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.card-loans .top .two-columns .comprasion span svg {
    margin-left: 5px;
}

.card-loans .content {
    padding: 0 40px;
    margin-top: -20px;
}

.card-loans .content .head {
    color: #017AD3;
    font-size: 16px;
    font-family: 'Futura PT';
    font-weight: 400;
}

.card-loans .content .head .more-loan{
    text-align: center;
    color: #017AD3;
    font-size: 16px;
    font-family: 'Futura PT';
    font-weight: 400;
    cursor: pointer;
}

.card-loans .content .head .hidden-card-loan {
    overflow: hidden;
    max-height: 0;
}

.card-loans .content .head .hidden-card-loan .text {
    color: #292929;
    font-size: 16px;
    line-height: 27.65px;
    font-family: 'Proxima Nova Rg';
}

.card-loans .content .hidden-card-loan .info {
    color: #292929;
    font-weight: 600;
    float: right;
    font-size: 14px;
    font-family: 'Proxima Nova Rg';
    margin-bottom: 40px;
}

.hidden-card-loan .tab {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 15px 0;
    width:100%;
}

.hidden-card-loan .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 2px solid #EBEBEB ;
    width: 33%;
}

.hidden-card-loan .tab button:hover {
    color: #017AD3;
    border-bottom: 2px solid #017AD3;
}

.hidden-card-loan .tab button.active {
    color: #017AD3;
    border-bottom: 2px solid #017AD3;
}

.hidden-card-loan .tabcontent.active {
    display: block;
}

.hidden-card-loan .tabcontent {
    display: none;
    padding: 6px 12px;
    margin-top: 32px;
    color: #292929;
}


.hidden-card-loan .tabcontent .table {
    width: 100%;
    border: 1px solid #ebebeb;
    margin-bottom: 50px;
    font-family: 'Proxima Nova Rg';
}

.hidden-card-loan .tabcontent .table .tr {
    display: flex;
    justify-content: space-between;
}

.hidden-card-loan .tabcontent .table .tr .td {
    padding: 1.5em;
    font-size: 0.87em;
}

.hidden-card-loan .tabcontent .table .tr .td svg {
    margin-left: 10px;
}

.hidden-card-loan .tabcontent .table .tr .td:first-of-type {
    width: 30%;
    background: #FAFAFA;
    font-weight: 600;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.hidden-card-loan .tabcontent .table .tr .td:last-of-type {
    width: 70%;
    border-bottom: 1px solid #ebebeb;
}


    /*table*/
table {
    font-family: 'Proxima Nova Rg';
    width: 100%;
    table-layout:fixed;
    font-size: 0.87em;
}

table td {
    padding: 18px;
}

table .main {
    background: #fafafa;
    font-weight: 600;
    width: 30%;
}

table td.main svg {
    margin-left: 10px;
}

table.table-info {
    text-align: left;
    border: 1px solid #ebebeb;
    border-collapse: collapse;
}

table.table-info tr {
    border-bottom: 1px solid #ebebeb;
}
table.table-info td.main {
    border-right: 1px solid #ebebeb;
}

.card-loans .hidden-card-loan .slider {
    padding-bottom:  40px;
}

.card-loans .hidden-card-loan .slider .slider-block {
    display: flex;
    justify-content: space-between;

}

.card-loans .hidden-card-loan  .slider .slider-block  .slider-button {
    width: 50px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 50%;
    border: 1px solid #EBEBEB ;
    margin-top: 15px;
}

.card-loans .hidden-card-loan  .slider .slider-block  div.slider-button:last-of-type{
    background-color: #81DAC8;
}


.card-loans .hidden-card-loan  .slider .slider-block .slider-info div {
    border: 1px solid #EBEBEB ;
    width:48px;
    height: 48px;
    padding: 12px;
    margin: auto;
}

.card-loans .hidden-card-loan .slider .slider-block .slider-info div svg {
    width: 23px;
}

.card-loans .hidden-card-loan  .slider .slider-block .slider-info p {
    color: #292929;
    font-size: 14px;
}
.card-loans .hidden-card-loan .print {
    border: 1px solid #017AD3;
    padding: 15px;
    margin-right: 40px;
    float: right;
    width: 50.27px;
    height: 50px;
    margin-top: 28px;
}

.card-loans .hidden-card-loan .btn {
    padding: 40px;
    display: inline-flex;
    margin-top: 28px;
}

.card-insurance {
    border: 4px solid #FCE6A4;
    font-family: 'Proxima Nova Rg';
    margin-top: 50px;
    width: 100%;
}

.card-insurance .top {
    padding: 20px 40px;
}

.card-insurance hr {
    height: 1px;
    border: none;
    background-color:#EBEBEB;

}
.card-insurance .top .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-insurance .top .header a {
    text-decoration: none;
    color: #017AD3;
    font-family: 'Futura PT';
}

.card-insurance .top .header svg {
    position: absolute;
    margin-left: 10px;
}

.card-insurance .top .block,
.card-insurance .top .two-columns {
    display: flex;
    justify-content: space-between;
}

.card-insurance .top .block .logo {
    border: 1px solid #EBEBEB;
    width: 164.44px;
    height: 95px;
    padding: 23px 9px 33px 9px;
}

.card-insurance .top .block .logo div {
    width: 116.08px;
    height: 40.84px;
}

.card-insurance .top .block p {
    color: #87919F;
}

.card-insurance .top .block .block-row .insurance-head-intro{
    height: 1em;
    font-weight: 700;
}

.card-insurance .top .block .block-row p {
    color: #87919F;
    font-size: 0.87em;
    line-height: 1.3em;
}

.card-insurance .top .two-columns {
    padding: 15px;
}

.card-insurance .top .two-columns .reviews a {
    text-decoration: none;
    color: #017AD3;
}

.card-insurance .top .two-columns .reviews span {
    color: #87919F;
}

.card-insurance .top .two-columns .comprasion span {
    color: #87919F;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.card-insurance .top .two-columns .comprasion span svg {
    margin-left: 5px;
}

.card-insurance .content {
    padding: 0 40px;
    margin-top: -20px;
}

.card-insurance.content .head {
    color: #017AD3;
    font-size: 16px;
    font-family: 'Futura PT';
    font-weight: 400;
}

.card-insurance .content .head .more-loan{
    text-align: center;
    color: #017AD3;
    font-size: 16px;
    font-family: 'Futura PT';
    font-weight: 400;
    cursor: pointer;
}

.card-insurance .content .head .hidden-card-insurance {
    overflow: hidden;
    max-height: 0;
}

.card-insurance .content .head .hidden-card-insurance .text {
    color: #292929;
    font-size: 16px;
    line-height: 27.65px;
    font-family: 'Proxima Nova Rg';
}

.card-insurance .content .hidden-card-insurance .info {
    color: #292929;
    font-weight: 600;
    float: right;
    font-size: 14px;
    font-family: 'Proxima Nova Rg';
    margin-bottom: 40px;
}

.hidden-card-insurance .tab {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 15px 0;
    width: 100%;
}

.hidden-card-insurance .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 2px solid #EBEBEB ;
    width: 20%;
}

.hidden-card-insurance .tab button:hover {
    color: #017AD3;
    border-bottom: 2px solid #017AD3;
}

.hidden-card-insurance .tab button.active {
    color: #017AD3;
    border-bottom: 2px solid #017AD3;
}

.hidden-card-insurance .tabcontent.active {
    display: block;

}

.hidden-card-insurance .tabcontent {
    display: none;
    padding: 6px 12px;
    margin-top: 32px;
}
/*table*/
table {
    font-family: 'Proxima Nova Rg';
    width: 100%;
    table-layout:fixed;
    font-size: 0.87em;
}

table td {
    padding: 18px;
}

table .main {
    background: #fafafa;
    font-weight: 600;
    width: 30%;
}

table td.main svg{
    margin-left: 10px;
}

table.table-info {
    text-align: left;
    border: 1px solid #ebebeb;
    border-collapse: collapse;
}
table.table-info tr {
    border-bottom: 1px solid #ebebeb;
}
table.table-info td.main {
    border-right: 1px solid #ebebeb;
}

.card-insurance .hidden-card-insurance .slider {
    padding-bottom: 40px;
}

.card-insurance .hidden-card-insurance .slider .slider-block {
    display: flex;
    justify-content: space-between;
}

.card-insurance .hidden-card-insurance  .slider .slider-block  .slider-button {
    width: 50px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 50%;
    border: 1px solid #EBEBEB ;
    margin-top: 40px;
}

.card-insurance .hidden-card-insurance .slider .slider-block  div.slider-button:last-of-type{
    background-color: #81DAC8;
}

.card-insurance .hidden-card-insurance  .slider .slider-block .slider-info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}

.card-insurance .hidden-card-insurance  .slider .slider-block .slider-info li{
    margin-left: 30px;
    width: 50%;
}

.card-insurance .hidden-card-insurance  .slider .slider-block .slider-info li:last-child{
    margin-left: 20px;
}

.card-insurance .hidden-card-insurance .slider .slider-block .slider-info div {
    border: 1px solid #EBEBEB ;
    width:48px;
    height: 48px;
    padding: 12px;
    margin: auto;
}

.card-insurance .hidden-card-insurance .slider .slider-block .slider-info div svg {
    width: 23px;
}

.card-insurance .hidden-card-insurance  .slider .slider-block .slider-info p {
    color: #292929;
    font-size: 14px;
}

.card-insurance .hidden-card-insurance .print {
    border: 1px solid #017AD3;
    padding: 15px;
    margin-right: 40px;
    float: right;
    width: 50.27px;
    height: 50px;
    margin-top: 28px;
}

.card-insurance .hidden-card-insurance .btn {
    padding: 40px;
    display: inline-flex;
    margin-top: 28px;
}








































