.header-review-block{
    width: 100%;
    padding: 46px 10px 20px  10px;
}

.reviews .block_top-reviews{
    width: 100%;
    text-align: center;
}

.reviews .rating {
    text-align: center;
}

.reviews .center-rating {
    margin: 17px 35px 0 35px;
}

.reviews .center-rating .btn {
    margin-top: 28px;
}

.reviews .center-rating .scale {
    width: 224px;
    height: 6px;
    background:#EBEBEB;
    border-radius: 28px;
    display:flex;
    justify-content: space-between;
}
.reviews .center-rating .scale .percent {
    height: 6px;
    border-radius: 28px;
    margin: 0;
}

.reviews .center-rating .reviews-rating {
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.reviews .center-rating .info{
    margin-top: 10px;
}

.reviews .center-rating .info p {
    font-size: 0.87em;
    color:#87919f;
    margin: 5px 0;
    font-weight: 700;
}

.reviews .center-rating .info span {
    font-size: 0.87em;
    color:#87919f;
    font-weight: 700;
    margin-left: 234px;
    position: absolute;
    margin-top: -13px;
}

.reviews .accordion-container {
    border: 1px solid #EBEBEB;
    margin-top: 61px;
}

.reviews .accordion{
    background-color: #fff;
    cursor: pointer;
    padding: 8px 20px;
    width: 100%;
    height: 40px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 0.87em;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reviews .accordion.active .arrow {
    transform: rotate(-90deg);
}

.reviews .panel {
    padding: 0 18px;
    color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.reviews .block-reviews .text-review .user-logo {
    margin-top: 50px;
}

.reviews .block-reviews .text-review .user-logo svg {
    position: absolute;
}

.reviews .block-reviews .text-review .user-logo span,
.reviews .block-reviews .text-review .user-rating,
.reviews .block-reviews .text-review .plus,
.reviews .block-reviews .text-review .minus,
.reviews .block-reviews .text-review .comment {
    margin-left: 74px;
    margin-top: 25px;
}

.reviews .block-reviews .text-review .user-logo span,
.reviews .block-reviews .text-review .comment p:first-of-type,
.reviews .block-reviews .text-review .replace div span {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0;
}

.reviews .block-reviews .text-review .plus p:first-of-type {
    color: #5A8D26;
    margin-bottom: 0;
    font-weight: 600;
}

.reviews .block-reviews .text-review .minus p:first-of-type {
    color: #EA674A;
    margin-bottom: 0;
    font-weight: 600;
}

.reviews .block-reviews .text-review .minus p:last-of-type,
.reviews .block-reviews .text-review .plus p:last-of-type,
.reviews .block-reviews .text-review .comment p:last-of-type {
    margin-top: 5px;
}


.reviews .block-reviews .text-review .comment {
    margin-bottom: 20px;
}

.reviews .block-reviews .text-review .comment a {
    border: none;
    cursor: pointer;
    color: #017AD3;
    margin-top: 21px;
    text-decoration: none;
}

.reviews hr {
    margin-top:30px;
    margin-bottom: 22px;
}

.reviews .replace div span{
    margin-left: 30px;
    line-height: 1.1em;
    font-size: 1em;
    font-weight: 600;
}

.reviews .replace div svg {
    position: absolute;
    margin-top: 3px;
}

.reviews .replace div p {
    margin-top: 0;
    margin-left: 30px;
    font-size: 1em;
}

.reviews .review-f {
    margin: 59px 20px 90px;
    text-align: center;
}

.reviews .review-f .review-form .rating {
    display: inline-block;
    align-content: center;

}

.reviews .review-f .review-form input,
.reviews .review-f .review-form textarea {
    width: 100%;
    border: 1px solid #D8DADE;
    height: 50px;
    margin-top: 10px;
    padding: 14px;
    font-size: 0.87em;
    font-weight: 600;
    outline: none;
}

.reviews .review-f .review-form textarea {
    height: 144px;
    resize: none;
}

.reviews .review-f .review-form .btn {
    margin-top: 20px;
    float: right;
}

.reviews .review-f .review-form .rating {
    text-align:left;
    margin:  23px 0;
}

.reviews .review-f .info {
    height: 324px;
    margin-top: 87px;
    background: #f5f5f5;
    font-size: 1em;
    line-height: 1.5em;
    padding: 25px 43px 25px 53px;
    text-align: left;
}
