.breadcrumbs {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;
}

.breadcrumbs a,
.breadcrumbs a:visited {
    color:#38B6F7;
    border-bottom: 1px dotted #38B6F7;
}

.breadcrumbs span:not(:last-of-type) {
    margin: 0 5px;
}

.breadcrumbs span.kb_title {
    color: #292929;
}

.sort-question .description {
    font-size: 0.87em;
    color: #848484;
}

.sort-question h1 {
    margin-bottom: 0;
}

.tab {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    width:100%;
    margin-top: 23px;
    border-bottom: 2px solid #EBEBEB ;
}

.tab .tablinks {
    background-color: inherit;

    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0;
    margin-top: 2px;
    transition: 0.3s;
    width:140px;
    color:#292929;
    font-family: 'Futura PT';
}

.tab .tablinks:last-child{
    margin-left: 140px;
}

.tab .tablinks.on {
    position: absolute;
    margin-top: 2px;
    color: #017AD3;
    border-bottom: 2px solid #017AD3;
}

.tabs-items .tabcontent{display:none}

.tabs-items .tabcontent.on{display:block}

.tabs-items .tabcontent {
    display: none;
    margin-top: 15px;
    color: #292929;
}

.tabs-items .tabcontent .search-block {
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
}

.tabs-items .tabcontent .search-block-container {
    display: flex;
    justify-content: space-between;
}

.tabs-items .tabcontent .search-block__input {
    width: 100%;
    border: 1px solid #D8DADE;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline:none;
    font-size:14px;
    height: 60px;
    color: #292929;
    padding: 0 25px;
    z-index: 0;
}

.tabs-items .tabcontent .search-block__input::placeholder {
    color: #C0C3C8;
    font-weight: 600;
}

.tabs-items .tabcontent .search-block__button {
    border: none;
    background: #A5CA38;
    cursor: pointer;
    padding: 10px;
    margin-left: -5px;
    width: 65px;
    color: #fff;
    font-family: 'Futura PT';
    height: 60px;
    z-index: 1;
}


.tabs-items .tabcontent .sort-titles .tag{
    padding: 3px 10px;
    border-radius: 15px;
    background: #D0D0D0;
    color:#fff;
    font-size: 0.87em;
    display: inline-block;
    margin: 5px 5px 5px 0px;
}

.tabs-items .tabcontent .sort-titles .tag.active{
    background: #A5CA38;
}

.tabs-items .tabcontent .qa-items {
    margin-top: 56px;
    padding: 22px 40px 17px 45px;
}

.tabs-items .tabcontent .qa-items .qa-title {
    font-weight: 600;
}

.tabs-items .tabcontent .qa-items .qa-short-answer {
    background: #EBEBEB;
    padding: 10px;
    margin-top: 10px;
}

.tabs-items .tabcontent .qa-items .qa-items-bottom-block {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 0.87em;
}

.tabs-items .tabcontent .qa-items .qa-items-bottom-block .tags-bl {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.tabs-items .tabcontent .qa-items .qa-items-bottom-block .read-more {
    font-family: "Futura PT";
    font-weight: 500;
}

.tabs-items .tabcontent .qa-items .qa-items-bottom-block .question-count {
    color: #848484;
    display: flex;
    align-items: center;
}

.tabs-items .tabcontent .qa-items .qa-items-bottom-block .question-count svg {
    margin-left: 4px;
}

.tabs-items .tabcontent .qa-items .qa-items-bottom-block time {
    color: #848484;
}

.tabs-items .tabcontent .qa-items .qa-items-bottom-block .tags-bl .tags-link {
    color: #292929;
    padding: 3px 10px;
    border-radius: 15px;
    background: #D0D0D0;
}

.tabs-items .tabcontent .second-el {
    margin-top: 20px;
}


