.tariff-block{
    padding: 20px;
}

.tariff-block .header-tariff a {
    font-family: 'Futura PT';
    font-weight: 600;
    font-size: 1.1em;
}

.tariff-block .logo {
    border: 1px solid #EBEBEB;
    width:100%;
    height: 134px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tariff-block .logo img {
    margin: 0 auto;
}

.tariff-block .tariff-inner {
    margin-top: 15px;
}

.tariff-block .tariff-inner .block-row {
    margin-top: 15px;
}

.tariff-block .tariff-inner .block-row .traffic-head-intro {
    font-weight: 600;
}

.tariff-block .tariff-inner .block-row .traffic-cont {
    margin-top: 5px;
    font-size: 0.87em;
    color: #87919F;
    font-weight: 500;
}

.tariff-block-btn {
    width: 100%;
    margin-top: 20px;
}
