.tarif-title{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
}
.tarif-img {
    margin-top: 10px;
    text-align: center;
}
.tarif-img img {
    width: 100%;
    max-width: fit-content;
}
.tarif-label {
    padding-top: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

.tarif-label-title {
    font-weight: 500;
    color: #848484;
}
.tarif-btn-block {
    flex-direction: row-reverse;
}
.tarif-block-btn {
    width: 85%;
}
.border-radius {
    border-radius: 5px;
}