.compare-programme .compare-table{
    border: 1px solid #ebebeb;
    margin-top: 33px;
}

.compare-programme .compare-table .tr {
    display: flex;
    justify-content: space-between;
}

.compare-programme .compare-table .tr .td:nth-child(2){
    border-left: 1px solid #ebebeb;
}

.compare-programme .compare-table .tr .td {
    padding: 1.5em;
    width: 50%;
    border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: none;
}

.compare-programme .compare-table .tr .th {
    padding: 5px 0 5px 33px;
    display: flex;
}

.compare-programme .compare-table .tr .td ul  {
    padding: 0;
    margin-left: 1.1em;

}

.compare-bl {
    margin-top: 50px;
}

.compare-bl .compare-table{
    margin-top:75px;
}


.compare-bl .compare-table .compare_el .td {
    padding: 1.2em;
    font-size: 0.87em;
    border-left: 1px solid #ebebeb;
    border-left: none;
    text-align: center;
}

.compare-bl .compare-table .compare_el .bg {
    background: #FAFAFA;
}

.compare-bl .compare-table .compare_el .lt {
    padding: 1.2em;
    background: #fff;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    font-weight: 600;
    text-align: center;
}


.compare-bl .compare-table .compare_el .th {
    display:block;
    background: #fff;
}

.compare-bl .compare-table .compare_el .th svg {
    float: right;
    cursor: pointer;
}

.compare-bl .compare-table .compare_el .th img,
.compare-bl .compare-table .compare_el .th span,
.compare-bl .compare-table .compare_el .th .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.compare-bl .compare-table .compare_el .th img {
    margin-top: 15px;
}

.compare-bl .compare-table .compare_el .th span{
    margin-top: 30px;
    font-weight: 600;
}

.compare-bl .f-bl{
    margin-top: 120px;
    display: flex;
    justify-content:space-between;
    padding: 15px 30px;
}

.compare-bl .f-bl .left-part{
    display: flex;
    align-items: center;
    justify-content: center;
}

.compare-bl .f-bl span {
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 10px;
}

.displayNone {
    display: none;
}

.jsSlideItem {
    text-align: center;
    position: relative;
    border-bottom: 1px solid #ebebeb;
    width: 100%;

}

.arrows-block{
    position: absolute;
    z-index: 1;
}

.jsSlideMainBlock {
    align-items: center;
    justify-content: center;
    min-height: 100px;
    overflow: hidden;
    padding: 0;
}

.jsSlideContent {
    display: flex;
    width:100%;
    transition: all .3s linear;
    justify-content: space-around;
}

.js-slide-btn-left {
    background: url('/v3/images/compare-prev.svg') no-repeat center center;
    right: 5px;
}

.js-slide-btn-right {
    background: url('/v3/images/compare-prev.svg') no-repeat center center;
    transform: rotate(180deg);
    left: 5px;
}

.js-slide-btn-left, .js-slide-btn-right {
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    margin-top: -50px;
    display: block;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 1;
    background-size:contain;
}

.jsSlideItem img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
}

.jsAnimateLeft {
    animation: mymoveleft 0.5s;
}

.jsAnimate {
    animation: animateBorder .1s;
}

.jsAnimateRight {
    animation: mymoveright 0.5s;
}