.btn{
    min-width: 225px;
    padding: .6em 2em;
    outline: 0;
    border: 0;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    max-height: 50px;
    vertical-align: top;
    font-size: 1em;
    cursor: pointer;
}
.btn-2{
    background: #5A8D26;
    color: #fff;
    border:2px solid #5A8D26;
}
.border-radius {
    border-radius: 5px;
}
.bg-block-img {
    max-width: 100%;
}