.msg-wrap {
    padding: 15px 30px 1px;
    margin: 15px 0;
    border-radius: 15px;
}
.msg-icon{
    float: left;
    margin-right: 25px;
}
.msg-wrap.primary{
    background: rgba(1, 122, 211, 0.3);
}
.msg-wrap.default{
    background: rgba(196, 196, 196, 0.3);
}
.msg-wrap.success{
    background: rgba(165, 202, 56, 0.3);
}
.msg-wrap.danger{
    background: rgba(255, 122, 92, 0.3)
}
.msg-wrap.warning{
    background: rgba(255, 193, 7, 0.3);
}
.msg-wrap.info{
    background: rgba(186, 229, 255, 0.3);
}
.msg-title{
    font-size: 1.2em;
    font-weight: bold;
}
