.rating-container {
    width: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: grey;
}

.rating-container a {
    color: #38B6F7;
    text-decoration: none;
}
.rating-container span {
    color: #000;
    display: block;
}

.rating-container a.rating-title {
    display: block;
}

.rating-container-width {
    padding: 1.3em 1em;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    display: inline-block;
    /*width: 400px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    text-align: center;
    color: grey;
}

.rating-container-width span {
    margin-left: 7px;
}