.people-wrap .shadow {
    margin: 15px 0;
    padding: 15px;
}

.people-img {
    height: 150px;
    width: 150px;
    min-width: 150px;
    border-radius: 10px;
    background: #F1F1F1;
    margin: 0 auto 15px;
    display: block;
}

.people-info{
    margin: 15px 0 0;
}

.people-name {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.people-email{
    display: block;
    margin-top: 10px;
    font-style: italic;
}
