.command-member-img {
    height: 150px;
    width: 150px;
    background: #F1F1F1;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
}
.command-member-name {
    font-weight: bold;
}